/* =============== Varibles ================== */ 
 	
white = #fff
green = #4EDE7D
grey1 = #D8E5DA
grey2 = #74747F
grey3 = #45454C
montserrat = 'Montserrat', sans-serif
droid = 'Droid Sans', sans-serif
green-button = linear-gradient(135deg, rgba(115,222,145,1) 0%, rgba(94,192,182,1) 100%)
animation = all ease .8s

/* ==========================================================================
   Header Section
   ========================================================================== */
.Home
    position relative
.diagonal
	background: linear-gradient(135deg, rgba(118,94,237,1) 0%, rgba(17,19,166,1) 100%)
	transform skewY(-4deg)translate(0px, -170px)
	width 100%
	height 111%
	position absolute
 
.header ul li a:focus 
	color #fff
	border 4px solid #73DE91
	border-radius 10px
	padding 2em 3em
    position relative
    opacity 0.4   
     
.header ul li a:focus:before
    content ''
    color #fff
    border 4px solid #73DE91
    border-radius 10px
    padding 1.5em 3em
    position absolute
   
.header ul
    margin-top 80px
    height 130px
    li
        margin-right 4em
        
.btn-header
    font-size 20px
    color #fff
    font-family droid
    background green-button
    border none
    position relative
    padding 20px 45px
    margin-top 45px
    &:focus
        color #fff
        border none
        box-shadow none
    &:active
        background green-button
        border none
    &:after
        content ""
        display inline-block
        height 100%
        width 100%
        background green-button
        position absolute
        top 15%
        left 4%
        z-index -1
        border-radius .25rem
        opacity .4
    &:hover
        color #fff
        
.Arrow-Icon
    width 21px
    margin-left 21px
        	
.header ul li a:hover
	color #fff
        	
.nav-link
	color white
	font-family 'Montserrat', sans-serif
	font-weight 400
	font-size 22px
    border 1px solid blue
    
.text-header
	padding-top 12%
 
.ocupation
    margin-top 3%
    margin-bottom 3%
          	  
.logo-juan
	width 136px
	transform translate(0, -35px)
           
.Juan2
	border-radius 1%
 
.juan-photo
    width 451px
        	
.text-hello
	margin 90px 0 0 60px
   	
h1
	font-family 'Montserrat'
	font-weight 400
	font-size 30px
             
h2
	font-family 'Montserrat'
	font-weight 100
	font-size 28px
       

.Background-juan
    position relative
    height 100%
    overflow hidden
    img
        position absolute
        width 110%
        left 50%
        top 32%
        transform translate(-50%,-50%)
        opacity 0.04      

.animated
    transition (all 0.2s)

.animating
    transition (all 0.6s)

.delay1
    animation-delay(0.1s)

.delay2
    animation-delay(0.2s)

.delay3
    animation-delay(0.3s)

.delay4
    animation-delay(0.4s)

.delay5
    animation-delay(0.8s)

.delay6
    animation-delay(0.9s)

.delay7
    animation-delay(1s)
            
/* ==========================================================================
   My work Section
   ========================================================================== */
   
.btn-primary
    font-family droid
    background green-button
    border none
    position relative
    padding 10px 20px
    &:focus
        color #fff
        border none
        box-shadow none
    &:active
        background green-button
        border none
    &:after
        content ""
        display inline-block
        height 100%
        width 100%
        background green-button
        position absolute
        top 15%
        left 4%
        z-index -1
        border-radius .25rem
        opacity .4

.Juan
    img
        border-radius .25rem
    &:after
        content ""
        border-radius .25rem
        display inline-block
        height 100%
        width 79%
        background-size cover
        position absolute
        top 3%
        right 15%
        z-index -1
        opacity .4
        
.Juan1
    &:after
        background-image url("../img/Juan-Duotone-2.jpg")
        
.Juan2
    &:after
        width 86%
        top 3%
        right 7%
        background-image url("../img/Juan-Duotone-1.jpg")
            

.Subtitle
    display flex
    flex-direction column
    align-items center
    h4
        font-size 50px
        height 90px
        font-weight bold
        color grey3
        font-family droid
        background-image url("../img/Lines.svg")
        background-position center 100%
        background-size 90%
        background-repeat no-repeat
        margin-top 100px
        
.My-work
    margin-top 5em
    margin-bottom 5em
   .Button
        .Buton-2
           left 5%
           top 12%
           
.Work
    text-align center
    transition animation
    border-radius 3%
    
.Cards-works
    position relative
    &:after
        content ""
        height 100%
        display inline-block
        width 100%
        background-image url("../img/Lines.svg")
        background-position center
        background-repeat no-repeat
        transform skewY(-2deg)translate(-50%,-50%)
        top 50%
        left 50%
        position absolute
        opacity .1
        z-index -1

.Details
    color grey3
    padding-left 10px
    min-height 240px
    h5
        font-size 30px
        font-family droid
        font-weight bold

.Details
    h2
        font-size 20px
        margin-bottom 0
        color #45454C
        font-family droid
        height 60px
        background-image url("../img/Lines-2.svg")
        background-repeat no-repeat
        background-position 0 65%
        background-size 50%
        transition animation

.Details
    p
        font-family montserrat
        color #7B7B87
        font-size 17px
        margin-top 10px

/* ==========================================================================
   What i do Section
   ========================================================================== */
        
.What-i-do
    margin-bottom 5em
    margin-top 7em
    position relative
    .diagonal2
        background: linear-gradient(135deg, rgba(118,94,237,1) 0%, rgba(17,19,166,1) 100%)
        transform skewY(-4deg)translate(0px, -170px)
        width 100%
        height 120%
        top 180px
        position absolute
    h4
        color #fff
    p
        width 360px
        color #fff
    .Subtitle
        padding-top 5em
        
.Ui-designer
    h3
        color #ffff
        font-family droid
        font-size 30px
    p
        font-size 16px
        color #D8E5DA
        strong
            color #73DE91
            font-weight bold
    .Keywords
        ul
            padding-left 0
            font-family montserrat
            font-size 16px
            li
                display inline-block
                border 1px solid #fff
                border-radius 1rem
                margin-left .5rem
                padding 5px 15px
                color #fff
                position relative
                overflow hidden
                &:first-child
                    margin-left 0
                /*&:hover
                    &:after
                        transform translateX(0%)
                &:after
                    content ""
                    height 100%
                    width 100%
                    position absolute
                    display inline-block
                    background green-button
                    left 0
                    top 0
                    transform translateX(100%)
                    z-index -1
                    border-radius 1rem
                    transition animation*/
    .hvr-float-shadow
        &:before
            left -5%
            
.Tools
    ul
        padding-left 0
        img
            width 50px
            height 50px
            margin-right .5em
            
/* ==========================================================================
   Contact me Section
   ========================================================================== */
            
.Contact-me
    margin-top 16em
    margin-bottom -5em
    h5
        font-size 40px
        font-family montserrat
        font-weight initial
    p
        font-size 18px
    a
        text-decoration none
        font-size 40px
        color #00E991
        font-weight bold
        font-family montserrat

.Info
    width 400px
        
.Info
    ul
        width 115px
        padding-left 0
        li
            display inline-block
            img
                width 45px

.Contacto
    position relative
    &:after
        content ""
        display block
        position absolute
        width 120%
        height 100%
        background-image url("../img/Lines.svg")
        background-repeat no-repeat
        background-position center
        top 50%
        left 50%
        transform skewY(-2deg) translate(-50%,-50%)
        z-index -1
        opacity .1

/* ==========================================================================
   About me Section
   ========================================================================== */
            
.About-me
    font-family droid
    color #fff
    position relative
    overflow hidden
    .diagonal3
        background linear-gradient(135deg, rgba(118,94,237,1) 0%, rgba(17,19,166,1) 100%)
        transform skewY(-4deg)translate(0px,75px)
        width 100%
        height 878px
        position absolute
        z-index -1
    .container
        padding-top 8em
        padding-bottom 2em
    h5
        font-size 30px
        font-weight bold
    p
        font-size 17px
        strong
            color #00e991
            cursor pointer
    &:after, &:before
        content ""
        width 100%
        height 15%
        display block
        position absolute
        top 50%
        left 50%
        transform translate(-50%,-50%)
        opacity .2
        background-repeat no-repeat
        background-position center
        background-image url("../img/Lines.svg")
    &:before
        top 44%
        left 0%
    &:after
        top 75%
        left 102%
        
          

//==============================Media Query================================================//

// Large devices //
@media (max-width: 1200px)  
    .diagonal //Header Section//
        height 117%
        
    .Juan   //Contact-me Section//
        &:after
            width 94%
            right 1%
            top 2%
    .Juan2
        &:after
            width 93%
            right 0%
    
    .Contact-me
        h5,a
            font-size 35px

    .About-me //About-me Section//
        &:before, &:after
            height 11%
        &:before
            left -10%
        &:after
            left 110%


// Medium devices (tablets, less than 992px)
@media (max-width: 991px)
    .Background-juan //Header Section//
        img
            top 50%

    .Home
        .container
            padding-top 7em
            
    .navbar
        display none

    .diagonal
        height 117%
        
    .text-white
        padding-left 0
        h1,h2
            font-size 18px
        a
            margin-left 1.5rem
            
    .Cards-works  //My-work Section//
        &:after
            background-position center 30%

    .Ui-designer //What-i-do Section//
        h3,p
            margin-bottom 1.5rem
    
    .What-i-do
        .diagonal2
            height 110%
   

    .Contact-me  //Contact-me Section//
        margin-bottom -8em
        
    .Juan2    
        &:after
            width 83%
            right 11%
    
    .Contacto
        &:after
            background-position center 20%

    .text-lg-right
        img
            margin-bottom 3em
    
    .About-me //About-me Section//
        &:before
            top 30%
        &:after
            top 88%
            


@media (max-width: 767px)
    .diagonal//Header Section//
        height 119%

    .text-white
        h1,h2
            margin-left 1.5rem
        

    
    
    .Juan2    //Contact-me Section//
        &:after
            width 94%
            right 0%
            
    .About-me //About-me Section//
        &:before, &:after
            height 8%


@media (max-width: 575px)
    .Subtitle
        h4
            font-size 40px
            background-position center 80%

    .Juan   //Contact-me Section//
        &:after
            width 91%
            top 3%
    .Contact-me
        h5,a
            font-size 30px
            
    .Contacto
        &:after
            width 100%
    
    .Info
        width auto
            
    .About-me //About-me Section//
        p
            margin-bottom 2em
        .Know-more
            margin-bottom 6em
    
    .Banner
        width 100%
        height 80px
        background-color #fff
        position fixed
        z-index 1
        padding 5px 20px
        display flex
        align-items center
        justify-content space-between
        img
            width 70px

    .Hamburguer
        height 100%
        width 100%
        position fixed
        background-color red
        top 50%
        left -50%
        transform translate(-50%,-50%)
        z-index 2
        transition .8s

    .Hamburguer.active
        left 50%


    .Icon
        width 50px
        height 50px
        position fixed
        right 0
        margin 15px 20px
        cursor pointer
        z-index 3
        .Lineas
            width 40px
            height 6px
            background-color #5ec0b6
            position absolute
            top 50%
            left 50%
            transform translate(-50%,-50%)
            box-shadow 0 2px 5px rgba(0,0,0,.2)
            transition .8s
            &:before,&:after
                content ""
                width 40px
                height 6px
                background-color #5ec0b6
                position absolute
                box-shadow 0 2px 5px rgba(0,0,0,.2)
                transition .8s
            &:before
                top -16px
            &:after
                top 16px

    .Icon.active
        .Lineas
            background rgba(0,0,0,0)
            box-shadow 0 2px 5px rgba(0,0,0,0)
            &:before
                top 0
                transform rotate(45deg)
            &:after
                top 0
                transform rotate(135deg)

            

            
@media (max-width: 420px)
    .text-white
        a
            margin-left 0
            
    .What-i-do //What-i-do Section//
        p
            width auto
    
    .Juan   //Contact-me Section//
        &:after
            width 86%
            right 3%
    .Info
        flex-direction column



@media (max-width: 414px)
    .Ui-designer //What-i-do Section//
        .Keywords
            .Prototyping, .Jquery
                margin-left 0



@media (max-width: 384px)
    .diagonal
        height 121%
        

    .Ui-designer //What-i-do Section//
        .Keywords
            .Jquery
                margin-left .5rem
            .Css
                margin-left 0
    
    .Contact-me //Contact-me Section//
        h5,a
            font-size 22px 


@media (max-width: 320px)
    .Ui-designer //What-i-do Section//
        .Keywords
            .Css
                margin-left .5rem
            .Html
                margin-left 0
            .App-design
                margin-left .3rem
                                   
    .About-me //About-me Section//
        h5
            font-size 22px
        p
            font-size 15px

    .About-me 
        .Know-more
            margin-bottom 2em